

.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px
}


.zero-corner-btn {
    position: relative;
    display: none
}

.corner-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #767676;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 0 4px 0 4px
}

.corner-btn:hover1 {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c
}

@media (min-width: 768px) {
    .zero-corner-btn {
        display:block
    }

    
}

